@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


header {
    text-align: center;
    /* background-color: #faebd7;
    padding: 1%; */
}
/* Add CSS for horizontal navigation */
/* header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
} */

/* 
https://www.youtube.com/watch?v=Qf-wVa9y9V4&ab_channel=WebDevSimplified 
DISAPLY property is very important. It determines how an item is positioned.
default display is block (for divs) which makes an element take up a whole line no matter what. 
default for spans is inline (which is the minimum amount possible).
inline-block lets you see the minimum amount possible
none makes that element dissapear

flex is complex
- justify content organizes along main axis
- align items along cross axis
grid is 
} */

header nav ul li {
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between menu items */
}

body {
    /* font-size: x-large; */
    /* NOTE: CSS has a default margin */
    margin: 2% 20% 2% 20%;
    background-color: rgb(255, 255, 255);
    font-family:monospace;
    line-height: 2;
    font-family: "Lato", sans-serif;
    font-family: "Montserrat", sans-serif;
}

.box {
    border: .1vh solid black;
    padding: 0% 2% 0% 2%;
    margin: 2% 10% 2% 10%;
    /* background-color: rgb(215, 241, 255); */
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.box-project {
    width: 80vw;
    height: 30vh;
    overflow: auto;
    border: .1vh solid black;
    padding: 0% 2% 0%;
    margin: 1% 0% 1% 0%;
    /* background-color: rgb(215, 241, 255); */
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    font-size: medium;
}

.projects-flexbox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* .secondary-color {
    background-color: rgb(237, 237, 237);
} */

.git-pic {
    width: 20vh;
    height: auto;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.profile-pic {
    width: 15vw;
    height: auto;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.title-pic {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.test {
    background-color: aliceblue;
}
/* 
h1, h2, h3 {
    font-size: inherit; 
} */


@media (max-width: 1000px) {
    body {
        margin: 2% 2% 2% 2%;
        font-size: 2.5vw;
    }

    .box-project {
        font-size: inherit;
    }

}