header {
    text-align: center;
    /* background-color: #faebd7;
    padding: 1%; */
}
/* Add CSS for horizontal navigation */
/* header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
} */

header nav ul li {
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between menu items */
}

body {
    font-size: x-large;
    /* margin: 0px; */
    margin: 2%;
    background-color: rgb(255, 255, 255), 255);
    font-family:monospace;
    line-height: 2;
}

.box {
    border: .2vh solid black;
    padding: 0% 2% 0% 2%;
    margin: 1% 1% 1% 1%;
    background-color: rgb(246, 245, 245);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

/* .secondary-color {
    background-color: rgb(237, 237, 237);
} */